LANGUAGE_CODE="en-us"
TIME_ZONE="UTC"
DEFAULT_REGION="US"

OPENSEARCH_DSL_SETTINGS='{
    "number_of_shards": 1,
    "number_of_replicas": 0
}'
OPENSEARCH_TEXT_ANALYZER="your specific analyzer if needed"
ASSISTANT_AGENT="gemini or openai or anthropic"
ASSISTANT_AGENT_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

FIREBASE_CREDENTIALS_JSON=

# db
POSTGRES_INITDB_ARGS="--locale=en_US.UTF-8"
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
