LANGUAGE_CODE="en-us"
TIME_ZONE="UTC"
DEFAULT_REGION="US"

OPENSEARCH_DSL_SETTINGS='{
    "number_of_shards": 1,
    "number_of_replicas": 0
}'
# OPENSEARCH_TEXT_ANALYZER="your specific analyzer if needed"
# ASSISTANT_AGENT="gemini or openai or anthropic"
# ASSISTANT_AGENT_API_KEY="your api key"

# db
POSTGRES_INITDB_ARGS="--locale=en_US.UTF-8"
LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
